@import url("/plain.css");
@import url("/apple_kid.ttf");
:root {
  --fg: #F7F7BD;
  --a: var(--fg);
  --abg: #292929;
}
body {
  font: 1.6em "Apple Kid Regular", sans-serif;
}
a:hover {
  background-color: #9452F7;
}
article {
  border: 5px solid #EFFF5A;
  border-radius: 4px;
}
